<body>

  <% _.each(result, function(results){%>

     <% _.each(results.img,function(img){%>

       <h1><%=  img.title%></h1>
         <h2> <%= img.author%></h2>  
          <img src=public/<%=img.uri%> alt="">

     <%})%>

  <%})%>
</body>