<body>

<div class="container-fluid">
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3 col-lg-6">
      

<form action="" method="POST" role="form" enctype="multipart/form-data">
  <legend>Subir Imagenes</legend>

  <div class="form-group">
    <label for="">Titulo</label>
    <input name="title" type="text" class="form-control" id="" required="true">
      <label for="">Autor</label>
     <input name="author" type="text" class="form-control" id=""  required="true">
       <label for="">Formato</label>
        <input list name="format" type="list" class="form-control" id=""     required="true" >    
      <label for="">Precio</label>
      <input name="price" type="number" class="form-control" id=""  required="true">
        <label for="">Description</label>
       <textarea name="description" class="form-control"id="" cols="30" rows="10" required="true"></textarea>
         <label for="">Categoria</label>
          <input name="category" type="text" class="form-control" id="" required="true">
          <input type="file" name="avatar" id=""  class="form control" required="true">

  </div>


  <button type="submit" class="btn btn-primary">Submit</button>


    </div>
  </div>  
</div>

</body>