
footer{
  bottom: 0;
  position: static;
  height: 200px;
  background-color: gray;
  width: 100%;
}
.btn-default{
  margin-top: -5.5px;

}
.faccount{
    bottom: 0;
    position: absolute;
  height: 200px;
  background-color: gray;
  width: 100%;
  height: 100px;
}
.form{

 
  width: 50%;
}
.jumbotron{
  
  margin-top: -20px;
  height: 300px;
  background: url(/images/escuela.jpeg);
}
.form-control{
  
  margin-top: 50px;
  display: inline-block;
  width: 80%;

}